<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TalkBot</title>
	<!-- Liens vers les fichiers CSS de Flowbite -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/style.css">

  <script>
    document.addEventListener('DOMContentLoaded',init);

    let botList;

    function init(){
      botList = document.getElementById("grid-container")

      displayBots();
    }

    async function displayBots() {
        while (botList.firstChild) {
  				botList.removeChild(botList.firstChild);
			  }

        let myHeaders = new Headers();
        myHeaders.append('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        myHeaders.append('Accept', 'application/json');
        myHeaders.append('Set-Cookie', 'passPhrase=Hop');

        let myInit = { 
          method: 'GET',
                  headers: myHeaders,
                  credentials: 'same-origin',
                  mode: 'cors',
                  cache: 'no-store' 
              };

        let myURL = `http://localhost:3000/`;

        let riveBrains = null;

        await fetch(myURL+'get-brains')
          .then(response => response.json()) // Convertir la réponse en objet JSON
          .then(riveFiles => {
            riveBrains = riveFiles;
        });

        fetch(myURL+'get-all-bots',myInit)
          .then((httpResponse)=>{
            for(let field of httpResponse.headers){
              console.log(`raw = ${field}`);
            }	
            return httpResponse.json()
          })
          .then((bots)=>{
            for(let bot of bots){
              const botElement = document.createElement("div");
              botElement.classList.add("bg-gray-100", "p-4", "rounded-md", "relative");

              const deleteBtn = document.createElement("button");
              deleteBtn.classList.add("absolute", "top-5", "right-2", "cursor-pointer");
              deleteBtn.style.width = "25px"; 
              deleteBtn.style.height = "25px"; 
              
              deleteBtn.style.backgroundImage = "url(assets/img/trash.svg)";
              deleteBtn.style.backgroundRepeat = "no-repeat"; // éviter la répétition de l'image
              deleteBtn.addEventListener("click", () => deleteBot(bot.id));

              const startBtn = document.createElement("button");
              startBtn.classList.add("absolute", "top-5", "right-6", "mr-3", "cursor-pointer");
              startBtn.id = "start-btn-" + bot.id

              fetch(`http://localhost:3000/checkServer/${bot.id}`)
                .then(response => response.json())
                .then(data => {
                  const serverExists = data.exists;

                  if (serverExists) {
                    startBtn.style.backgroundImage = "url(assets/img/stop.svg)"; // ajouter l'image
                  } else {
                    startBtn.style.backgroundImage = "url(assets/img/start.svg)"; // ajouter l'image
                  }
                })
                .catch(error => {
                  console.error('Une erreur s\'est produite lors de la vérification du serveur :', error);
                });


              startBtn.style.width = "25px"; 
              startBtn.style.height = "25px"; 

              startBtn.style.backgroundRepeat = "no-repeat"; 
              startBtn.addEventListener("click", () => startBot(bot.id));

              const botName = document.createElement("h2");
              botName.textContent = bot.name;
              botName.classList.add("text-lg", "font-medium", "mb-2");

              const botId = document.createElement("p");
              botId.textContent = `ID: ${bot.id}`;

              const botPort = document.createElement("p");
              botPort.textContent = `Port: ${bot.port}`;

              const labelBrain = document.createElement("p");
              labelBrain.textContent = `Cerveau(x):`; 

              const botBrains = document.createElement("div");
              botBrains.classList.add("botBrains-div")
              for(b of riveBrains){
                const input = document.createElement("input")
                input.type = 'checkbox';
                input.name = 'brainFiles';
                input.value = b;
                if(bot.brain.includes(b)){
                  input.checked = true;
                }

                input.addEventListener('change', () => changeBrainChoice(bot.id,input));

                const label = document.createElement('label');
                label.classList.add("label-brain")
                label.appendChild(input);
                label.appendChild(document.createTextNode(`${b}`))
                botBrains.appendChild(label)
              }

              const discordTokenContainer = document.createElement("div");
              discordTokenContainer.classList.add("flex", "items-center", "mt-2");

              const discordToken = document.createElement("input");
              discordToken.type = "text";
              discordToken.name = "discord_token";
              discordToken.value = bot.discord_token || '';
              discordToken.placeholder = "Discord Token (entrer pour enregister)";
              discordToken.classList.add("py-1", "px-2", "border", "border-gray-300", "rounded-md", "w-full");

              discordToken.addEventListener("keydown", (event) => {
                if (event.keyCode === 13) {
                  event.preventDefault();
                  const token = discordToken.value;
                  saveToken('discord',token,bot.id);
                }
              });

              const discordStartBtn = document.createElement("button");
              discordStartBtn.classList.add("start-button", "ml-2");
              discordStartBtn.style.backgroundImage = "url(assets/img/start.svg)"; 
              discordStartBtn.style.width = "20px"; 
              discordStartBtn.style.height = "20px"; 
              discordStartBtn.style.backgroundRepeat = "no-repeat"; 
              discordStartBtn.addEventListener("click", () => startDiscordBot(bot));

              discordTokenContainer.appendChild(discordToken);
              discordTokenContainer.appendChild(discordStartBtn);

              const mastodonTokenContainer = document.createElement("div");
              mastodonTokenContainer.classList.add("flex", "items-center", "mt-2");

              const mastodonToken = document.createElement("input");
              mastodonToken.type = "text";
              mastodonToken.name = "mastodon_token";
              mastodonToken.value = bot.mastodon_token || '';
              mastodonToken.placeholder = "Mastodon Token (entrer pour enregister)";
              mastodonToken.classList.add("py-1", "px-2", "border", "border-gray-300", "rounded-md", "w-full");

              mastodonToken.addEventListener("keydown", (event) => {
                if (event.keyCode === 13) {
                  event.preventDefault();
                  const token = mastodonToken.value;
                  saveToken('mastodon',token,bot.id);
                }
              });

              const mastodonStartBtn = document.createElement("button");
              mastodonStartBtn.classList.add("start-button", "ml-2");
              mastodonStartBtn.style.backgroundImage = "url(assets/img/start.svg)";
              mastodonStartBtn.style.width = "20px"; 
              mastodonStartBtn.style.height = "20px"; 
              mastodonStartBtn.style.backgroundRepeat = "no-repeat"; 
              mastodonStartBtn.addEventListener("click", () => startMastodonBot(bot));

              mastodonTokenContainer.appendChild(mastodonToken);
              mastodonTokenContainer.appendChild(mastodonStartBtn);

              botElement.appendChild(startBtn);
              botElement.appendChild(deleteBtn);
              botElement.appendChild(botName);
              botElement.appendChild(botId);
              botElement.appendChild(botPort);
              botElement.appendChild(labelBrain);
              botElement.appendChild(botBrains);
              botElement.appendChild(discordTokenContainer);
              botElement.appendChild(mastodonTokenContainer);


              botElement.addEventListener("dblclick", () => {
                fetch('http://localhost:3000/get-state-bot/' + bot.id, {
                  method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if(data){
                      fetch(`http://localhost:${bot.port}/load-brain/`, {
                        method: 'GET'
                      })
                      .then((response) => response.json())
                      .then((data) => console.log(data))
                      .catch((error) => console.error(error));
                      window.open(`chat/${bot.port}`, `Conversation avec ${bot.name}`);
                    } else {
                      alert(`Il faut démarrer le bot ${bot.name} avant d'ouvrir la conversation avec lui`)
                    }
                  })
                  .catch(error => console.error(error));
              })

              botList.appendChild(botElement);
            }
          })
          .catch((err)=>{
            console.log(`ERROR : ${err}`);
          })
      }

      function startDiscordBot(bot){
        fetch('http://localhost:3000/get-state-bot/' + bot.id, {
                  method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if(data){
                      fetch(`http://localhost:${bot.port}/load-brain/`, {
                        method: 'GET'
                      })
                      .then((response) => response.json())
                      .then((data) => console.log(data))
                      .catch((error) => console.error(error));
                      
                      fetch(`http://localhost:${bot.port}/go-discord/`, {
                        method: 'GET'
                      })
                      .then((response) => response.json())
                      .then((data) => console.log(data))
                      .catch((error) => console.error(error));
                    } else {
                      alert(`Il faut démarrer le bot ${bot.name} avant de l'envoyer sur Discord`)
                    }
                  })
                  .catch(error => console.error(error));

      }

      function startMastodonBot(bot){
        fetch('http://localhost:3000/get-state-bot/' + bot.id, {
                  method: 'GET',
                  })
                  .then(response => response.json())
                  .then(data => {
                    if(data){
                      fetch(`http://localhost:${port}/go-mastodon/`, {
                        method: 'GET'
                      })
                      .then((response) => response.json())
                      .then((data) => console.log(data))
                      .catch((error) => console.error(error));
                    } else {
                      alert(`Il faut démarrer le bot ${bot.name} avant de l'envoyer sur Mastodon`)
                    }
                  })
                  .catch(error => console.error(error));
      }

      function changeBrainChoice(idBot,input){
        const brain = input.value;
        if (input.checked) {
          fetch(`http://localhost:3000/add-brain/${idBot}/${brain}`, {
            method: 'POST'
          })
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((error) => console.error(error));
        } else {
          fetch(`http://localhost:3000/remove-brain/${idBot}/${brain}`, {
            method: 'DELETE'
          })
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((error) => console.error(error));
        }
      }

      function saveToken(platform,token,bot_id){
        let myHeaders = new Headers();
			  myHeaders.append('Content-Type', 'application/json');

        let myInit = { 
          method: 'PUT',
          headers: myHeaders,
          mode: 'cors',
          cache: 'default',
          body: JSON.stringify({ platform, token })
        };

        let myURL = `http://localhost:3000/update_token/${bot_id}`;
        
        fetch(myURL,myInit)
          .then((httpResponse)=>{
            return httpResponse.text()
          })
          .then((returnString)=>{
            displayBots();
            console.log(`${returnString}`)
          })
          .catch((err)=>{
            console.log(`ERROR : ${err}`);
          })	      
      }

      function deleteBot(id){
        let myHeaders = new Headers();
			  myHeaders.append('Content-Type', 'application/json');

        let myInit = { 
          method: 'DELETE',
          headers: myHeaders,
          mode: 'cors',
          cache: 'default' 
        };

        let myURL = `http://localhost:3000/${id}`;
        
        fetch(myURL,myInit)
          .then((httpResponse)=>{
            return httpResponse.text()
          })
          .then((returnString)=>{
            displayBots();
            console.log(`${returnString}`)
          })
          .catch((err)=>{
            console.log(`ERROR : ${err}`);
          })		
        }

      function startBot(id) {
            const btn = document.getElementById(`start-btn-${id}`);
            fetch(`http://localhost:3000/start-stop/${id}`, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        response.text().then(returnString => {
                            console.log(`${returnString}`)
                            if (returnString === 'Bot started') {
                                btn.style.backgroundImage = "url('/assets/img/stop.svg')";
                            } else {
                                btn.style.backgroundImage = "url('/assets/img/start.svg')";
                            }
                        });
                    } else {
                        alert('Error: ' + response.statusText);
                    }
                })
                .catch(error => {
                    alert('Error: ' + error.message);
                });
        }
    
  </script>
</head>
<body>

    
<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center">
        <img src="https://st3.depositphotos.com/8950810/17657/v/600/depositphotos_176577880-stock-illustration-cute-smiling-funny-robot-chat.jpg" class="h-8 mr-3" alt="Flowbite Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TalkBot</span>
    </a>
    <div class="flex md:order-2">
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Accueil</a>
        </li>
        <li>
          <a href="/add_bot" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Ajouter un bot</a>
        </li>
        <li>
          <a id="logout_button" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Se déconnecter</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div class="mt-12 mb-6" style="margin-top: 120px; text-align: center;">
    <h2 class="text-3xl font-bold">Bienvenue, <span id="username" class="text-3xl font-bold"></span> !</h2>
  </div>
  
  <div class="grid grid-cols-3 gap-4" id="grid-container">
  </div>

  <script>

document.addEventListener('DOMContentLoaded', () => {
      const logoutButton = document.getElementById('logout_button');

      logoutButton.addEventListener('click', async () => {
        sessionStorage.removeItem('connected');
        sessionStorage.removeItem('username');

        const response = await fetch('http://localhost:3000/logout', {
          method: 'POST'
        });

        window.location.href = '/login';
      });

      const isConnected = sessionStorage.getItem('connected') === 'true';

      if (isConnected) {
        const usernameElement = document.getElementById('username');
        const username = sessionStorage.getItem('username');
        usernameElement.textContent = username;
      } else {
        window.location.href = './login';
      }
    });

  </script>

	<!-- Liens vers les fichiers JavaScript de Flowbite -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>

