* {
        font-family: Arial;
        font-size: 12pt;
   }
   
   .chat {
        width: 400px;
        height: 90%;
        position: fixed;
        overflow: scroll;
   }
   
   .actions {
        position: fixed;
        bottom: 0;
        display: block;
        width: 100%;
   }
   
   .actions input{
        height: 30px;
        display: block;
        width: 100%;
        outline: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
   }
   
   .messages div {
        max-width: 60%;
        display: block;
        margin: 5px;
        padding: 10px;
        border-radius: 7px;
   }
   
   .messages .bot {
        text-align: left;
        margin-right: auto;
        background: #001f3f;
        color: white;
   }
   
   .messages .self {
        text-align: right;
        margin-left: auto;
        background: #DDD
   }

   #grid-container {
     margin-top: 80px;
     padding-left: 30px;
     padding-right: 30px;
   }

   #div_form_add {
     margin-top: 80px;
     padding: 50px;
   }

   #submit_btn_add {
     margin-left: 50px;
   }

   .botBrains-div {
     width: 200px;
     max-height: 100px;
     overflow-y: auto;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     margin-bottom: 8px;
   }

   .label-brain {
     flex-basis: 100%;
   }